<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dilyanayankova.my_messenger">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Latest chats"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- &lt;!&ndash;it will be the first launched-> -->
        <activity android:name=".Activities.LatestMsgActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.RegisterActivity">
        </activity>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.NewMsgActivity">
            <!-- to have back button -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.LatestMsgActivity" />
        </activity>
        <activity android:name=".Activities.ChatLogActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Activities.LatestMsgActivity" />
        </activity>

    </application>

</manifest>